@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap"; 

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* sign up/sign in page */

.flash {
  margin-bottom: 0;
}

.home-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  .left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(29,161,242,1.00);
    color: white;
    .left-inner {
      div {
        font-size: 27px;
        font-weight: 400;
        margin: 50px;
      }
      i {
        margin-right: 15px;
      }
    }
  }
  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 350px;
    .login-form-wrap {
      margin-top: 30px;
      .form-btn {
        background-color: white;
        border: 1px solid rgba(29,161,242,1.00);
        color: rgba(29,161,242,1.00);
        font-size: 16px;
        border-radius: 10px;
        padding: 7px 15px;
      }
      .form-btn:hover {
        cursor: pointer;
        background-color: rgb(29,161,242);
        color: white;
      }
      #session_username {
        padding: 5px;
        margin: 10px 10px 0 0;
      }
    }
    .right-center {
      width: 350px;
      i {
        color: rgba(29,161,242,1.00);
        font-size: 40px;
        margin: 0 0 15px 10px;
      }
      div {
        font-size: 27px;
        margin-bottom: 60px;
      }
      p {
        margin-bottom: 25px;
        font-weight: 600;
      }
      a {
        text-decoration: none;
        border: 1px solid rgba(29,161,242,1.00);
        border-radius: 25px;
        padding: 10px 100px;
        color: rgba(29,161,242,1.00);
        font-size: 18px;
      }
    }
  }
}

/* homepage */

.homepage {
  display: flex;
  min-height: 100vh;
}

.navbar {
  background-color: rgba(29,161,242,1.00);
  color: white;
  border-radius: 0;
  height: 80px;
  margin: 0;
  .navbar-inner {
    height: 100%;
    .twitter {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.nav > li > a.dropdown-toggle {
  padding: 30px 15px 17px;
}

.nav > li > a.dropdown-toggle:hover,
.nav > li > a.dropdown-toggle:focus {
  background-color: transparent;
  i {
    color: white;
  }
}

.nav .open > a.dropdown-toggle {
  background-color: transparent;
  i {
    color: white;
  }
}

.dropdown-toggle {
  i {
    font-size: 30px;
    color: rgb(216, 216, 216);
  }
}

.home-logo {
  font-size: 40px;
  color: white;
}

.left-menu {
  width: 300px;
  background-color: rgb(15, 41, 58);
  color: white;
  .user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(29,161,242);
    margin: 70px auto 30px;
  }
  .user-fullname {
    text-align: center;
    margin: 10px 0 30px;
    font-size: 18px;
    color: rgb(216, 216, 216);
  }
  .user-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    .stat-num {
      font-size: 20px;
      margin-bottom: 0;
      color: white;
    }
    div {
      text-align: center;
      color: rgb(143, 143, 143);
    }
  }
  a.left-menu-active {
    text-decoration: none;
    padding: 20px 35px;
    display: block;
    background-color: rgb(29,161,242);
    i {
      font-size: 22px;
      color: white;
      margin-right: 10px;
    }
    .profile-link {
      display: inline-block;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      color: white;
    }
  }

  a {
    text-decoration: none;
    padding: 20px 35px;
    display: block;
    i {
      font-size: 22px;
      color: rgb(143, 143, 143);
      margin-right: 10px;
    }
    .profile-link {
      display: inline-block;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      color: rgb(143, 143, 143);
    }
  }
}

.center-menu {
  width: 100%;
  .center-wrap {
    display: flex;
    min-height: calc(100vh - 80px);
    .tweet-center {
      width: 75%;
      .title-section {
        height: 73px;
        border-bottom: 1px solid rgb(216, 216, 216);
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        div {
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 600;
          color: rgb(143, 143, 143);
          padding: 24px 20px ;
          height: 100%;
        }
        .tweets-text {
          border-bottom: 4px solid rgb(29,161,242);
          color: rgb(98, 98, 98);
        }
      }
    }
    aside {
      width: 25%;
      border-left: 1px solid rgb(216, 216, 216);
      p {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 25px 20px 26px;
        margin: 0;
        color: rgb(143, 143, 143);
        border-bottom: 1px solid rgb(216, 216, 216);
      }
    }
    aside.profile-aside {
      width: 25%;
      border-left: 1px solid rgb(216, 216, 216);
      .user-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(29,161,242);
        margin: 70px auto 30px;
      }
      .user-fullname {
        text-align: center;
        margin: 10px 0 30px;
        font-size: 18px;
        color: black;
      }
    }
  } 
}

.tweet-form-wrap {
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  width: 500px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .form-input {
    border: none;
    width: 490px;
    height: 50px;
    padding: 10px;
    margin: 3px;
  }
  .form-input:focus {
    outline: none;
  }
  .form-btn {
    float: right;
    background-color: white;
    border: 1px solid rgb(29,161,242);
    color: rgb(29,161,242);
    font-size: 15px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 5px 25px;
  }
  .form-btn:hover {
    color: white;
    background-color: rgb(29,161,242);
  }
}

.tweet-list {
  padding: 35px 50px;
}

.individual-tweet {
  list-style: none;
  padding: 20px 25px;
  border-top: 1px solid rgb(216, 216, 216);
  display: flex;
  .tweet-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(29,161,242);
    display: inline-block;
    margin: 0 15px;
  }
  .tweet-name-text,
  .tweet-created-at {
    display: inline-block;
  }
  .tweet-fullname {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      text-decoration: none;
      color: rgb(29,161,242);
    }
  }
  .tweet-username {
    display: inline-block;
  }
}